---
import { type CollectionEntry } from "astro:content";
import BaseLayout from "$layouts/BaseLayout.astro";
import FormattedDate from "$components/Helper/FormattedDate.astro";
import { getBlogPosts } from "src/utils";
import BlogPost from "$layouts/BlogPost.astro";
import BlueskyCommentsLikes from "$components/BlueskyCommentsLikes/BlueskyCommentsLikes.astro";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  return posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout>
  {
    post.data.customLayout ? (
      <Content />
    ) : (
      <BlogPost>
        <div class="flex mt-8 items-center gap-x-4 text-xs mb-4">
          <FormattedDate date={post.data.pubDate} />
          <div class="flex gap-x-2">
            {post.data.tags?.map((tag: string) => (
              <div class="relative z-10 rounded-full bg-base-100 px-2 py-1 text-xs font-medium text-base-700 dark:bg-base-900 dark:text-base-300 border border-base-200 dark:border-base-800">
                {tag}
              </div>
            ))}
          </div>
        </div>
        <h1>{post.data.title}</h1>
        <Content />

        <BlueskyCommentsLikes disableLikes={false} disableComments={false} />

        <div class="not-prose h-16 w-16" />
      </BlogPost>
    )
  }
</BaseLayout>
